info:
  contact: {}
paths:
  /api/play:
    get:
      description: Play a game of rock, paper, scissor
      parameters:
      - description: Your selection
        in: query
        name: yourSelection
        required: true
        type: string
      responses:
        "200":
          description: Winner
          schema:
            type: string
      summary: Play the game
  /api/stats:
    get:
      description: Get game statistics
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
      summary: Get stats
  /swagger/index.html:
    get:
      description: Get startpage
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
      summary: Get start
swagger: "2.0"
